/* .panel-body {
    font-size: 150%;
    color: #6a6c6f;
}
.hpanel .panel-body {
    background: #fff;
    border: 1px solid #e4e5e7;
    border-radius: 2px;
    padding: 20px;
    position: relative;
} */
